[Desktop Entry]
Name=Liri Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;terminal;
Exec=liri-terminal
Icon=utilities-terminal
Terminal=false
StartupNotify=true
Type=Application
Categories=X-Liri;Qt;System;TerminalEmulator;


# Translations
Icon[ca]=terminal-utilitats
Name[ca]=Terminal Liri
Comment[ca]=Usa la línia d'ordres
