[Desktop Entry]
Name=Terminal
Comment=Terminal
Exec=papyros-terminal
Icon=utilities-terminal
Terminal=True
Type=Application
Categories=Papyros;Apps;Utilities
