[Desktop Entry]
Categories=X-Liri;Qt;System;TerminalEmulator;
Comment=Use the command line
Comment[ca]=Usa la línia d'ordres
Comment[da]=Brug kommandolinjen
Comment[fr]=Utiliser la ligne de commande
Comment[lt]=Naudoti komandų eilutę
Comment[pl]=Użyj wiersza poleceń
Comment[pt_BR]=Use a linha de comando
Comment[ru]=Использование командной строки
Comment[tr]=Komut satırını kullan
Exec=liri-terminal
Icon=utilities-terminal
Keywords=shell;prompt;command;commandline;cmd;terminal;
Name=Liri Terminal
Name[ca]=Terminal Liri
Name[da]=Liri Terminal
Name[fr]=Terminal Liri
Name[lt]=Liri terminalas
Name[pl]=Terminal Liri
Name[pt_BR]=Liri Terminal
Name[ru]=Liri Терминал
Name[tr]=Liri Uçbirimi
StartupNotify=true
Terminal=false
Type=Application
