[Desktop Entry]
Name=Liri Terminal
Name[ca]=Terminal Liri
Name[da]=Liri Terminal
Name[fr]=Terminal Liri
Name[it]=Terminale Liri
Name[lt]=Liri terminalas
Name[pl]=Terminal Liri
Name[pt_BR]=Liri Terminal
Name[ru]=Терминал Liri
Name[tr]=Liri Uçbirim
Comment=Use the command line
Comment[ca]=Usa la línia d'ordres
Comment[da]=Brug kommandolinjen
Comment[fr]=Utiliser la ligne de commande
Comment[it]=Usa la linea di comando
Comment[lt]=Naudoti komandų eilutę
Comment[pl]=Użyj wiersza poleceń
Comment[pt_BR]=Use a linha de comando
Comment[tr]=Komut satırı kullan
Keywords=shell;prompt;command;commandline;cmd;terminal;
Keywords[da]=skal;prompt;kommando;kommandolinje;cmd;terminal;
Keywords[it]=shell;prompt;comando;linea di comando;cmd;terminale;
Keywords[lt]=apvalkalas;užklausa;komanda;komandų eilutė;cmd;terminalas;
Keywords[pt_BR]=shell;prompt;comando;linha de comando;cmd;terminal;
Keywords[tr]=kabuk;istem;komut;komutsatırı;kmt;cmd;uçbirim;terminal;
Exec=liri-terminal
Icon=utilities-terminal
Terminal=false
StartupNotify=true
Type=Application
Categories=X-Liri;Qt;System;TerminalEmulator;
