[Desktop Entry]
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;terminal
Exec=papyros-terminal
Icon=utilities-terminal
Terminal=false
StartupNotify=true
Type=Application
Categories=QT;QML;System;TerminalEmulator;Papyros
